.search Input{
  width: 60%;
  height: 20%;
}
.search > p{
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
body {
  margin: 0;
  background-color: black;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}
.topnav{
  display: flex;
  justify-content: center;
}
.topnav >a{
  width: 100%;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Oleg's CSS for content and Footer */
.main
{
  width:  auto;
  height: 1000px;
}
.title {
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  color: #8B0000;
  background-color:pink;
}

.content
{
  margin-left:auto;
  margin-right:auto;
  margin-top: 1px;
  background-color:red;
  overflow: auto;
  width: 100%;
  font-size:0;
}
#left, #middle, #right 
{
	display: inline-block; 
	vertical-align: middle; 
	font-size: 12px; 
	height: 100%
}
#left 
{
	width: 25%; 
	background: blue; 
	overflow:hidden;
}
#left img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
}

#middle
{
	width: 50%;
	height:100%;
	background: green;
}
.vertical-menu {
  width: fit-content;
  height: fit-content;
}

.vertical-menu a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */

/*pushes text into middle of div */
	position: relative;
	top: 50%;
	transform: translateY(250%);
/*THIS IS IT  */

   padding: 5px;  /*Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}


#right 
{
	width: 25%; 
	background: yellow;
}

.content-entry
{
	margin:auto;
	overflow: auto;
	width: 95%;
	height: 250px;
	margin-top: -1px;
	margin-bottom:-1px;
}
hr
{
	margin:auto;
	width: 95%;
	border-top: 1px solid white;
}
.content-entry:hover{
	border:2px solid white;
}
.footer{
  height: 10%;
  left: 0;
  bottom: 0;
  width:100%;
  color: #FFD700;
  background-color: green;
  text-align: center;
}
