.search{
	display:flex;
	justify-content:space-between;
	width:100%;
	background-color:white;
}
.search Input{
  width: 60%;
  height: 44px;
 
}
#cart{
	width: 50px;
    height: 50px;
}
#searchbar{
	background-color: #cccccc;
    border-color: #cccccc;
}
.search > p{
  color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
body {
  margin: 0;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}
.topnav{
  display: flex;
  justify-content: center;
}
.topnav >a{
  width: 100%;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}

.topnav a.active {
  background-color: #4CAF50;
  color: #FFFFFF;
}

/* Oleg's CSS for content and Footer */
.main
{
  width:  auto;
  height: 1000px;
}
.title {
  height: 8%;
  width:95%;
  overflow:auto;
  margin:auto;
  padding:20px;
  color: #dfeeee;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

.content
{
  margin-left:auto;
  margin-right:auto;
  margin-top: 1px;
  overflow: none;
  width: 100%;
  font-size:0;
}

#featured{
	background-color:#1a1a1a;
}
#featured-text{
	position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    color: darkgrey;
    font-weight: bold;
}
#left, #middle, #right 
{
	display: inline-block; 
	vertical-align: middle; 
	font-size: 12px; 
	height: 100%
}
#left 
{
	width: 25%; 
	overflow:hidden;
}
#left img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
}

#middle
{
	width: 50%;
	height:100%;
	color: white; 
}
.vertical-menu {
  width: fit-content;
  height: fit-content;
  
}

.vertical-menu a {
  
  display: block;
	overflow:none;
	position: relative;
	top: 50%;
	transform: translateY(250%);
   padding: 5px;  
  text-decoration: none;
  
}

.vertical-menu a:hover {
  background-color: #ccc; 

}


#right 
{
	width: 25%; 
	color:white;
	font-size:19px;
	margin-top: 20px;
	text-align:right;
}
.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top:20px;
 
}

.content-entry
{
	margin:auto;
	overflow: none;
	width: 95%;
	height: 250px;
	margin-top: -1px;
	margin-bottom:-1px;
}
hr
{
	margin:auto;
	width: 95%;
	border-top: 1px solid #666666;
}
.content-entry:hover{
	border:2px solid #666666;
}
.footer{
  height: 10%;
  left: 0;
  bottom: 0;
  width:95%;
  color: #FFD700;
  margin: auto;
  margin-top:50px;
  overflow:auto;
  padding:10px;
  text-align:center;
  display:flex;
}


/*Repeated code for the footer */
.topnavclone{
  display: flex;
  justify-content: center;
}
.topnavclone >a{
  width: 100%;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

.topnavclone a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

.topnavclone a.active {
  background-color: #4CAF50;
  color: white;
