/* Search Section CSS */
.search{
	display:flex;
	justify-content:space-between;
	width:100%;
	background-color:white;
}
.search Input{
  width: 60%;
  height: 44px;
 
}
.search > p{
  color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#searchbar{
	background-color: #cccccc;
    border-color: #cccccc;
}
/* Checkout Icon Button + Text Over Image */
#cart{
	width: 50px;
    height: 50px;
}
.cartNum{
  position: relative;
  text-align: center;
  color: #4CAF50;
}
.top-right{
  position: absolute;
  top: 0;
  
  right: 4px;
  font-weight:bold;
  border-color:green;
  color:white;
  
  border: 2px solid green;
  border-radius:10px;
  background: green;
  width:18px;
  height:18px;
  
}

/* body CSS */
body {
  margin: 0;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}
/* Navigation CSS */
.topnav{
  display: flex;
  justify-content: center;
}
.topnav >a{
  width: 100%;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}

.topnav a.active {
  background-color: #4CAF50;
  color: #FFFFFF;
}


/* Main Page CSS */
.main
{
  width:  auto;
  height: 1000px;
}

/* title section CSS */
.title {
  height: 8%;
  width:95%;
  overflow:auto;
  margin:auto;
  padding:20px;
  color: #dfeeee;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

/* content CSS */
.content
{
  margin-left:auto;
  margin-right:auto;
  margin-top: 1px;
  width: 100%;
  font-size:0;
}
.content-text {
  
    display: inline;
    position: relative;
    text-decoration: none;
}
.content-entry
{
	margin:auto;
	width: 95%;
	height: 250px;
	margin-top: -1px;
	margin-bottom:-1px;
}
.content-entry:hover{
	border:2px solid #666666;
}

/* Featured Section */
#featured{
	background-color:#1a1a1a;
}
#featured-text{
	position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    color: darkgrey;
    font-weight: bold;
}

/* Vertical Dividers in Content CSS */
.left, .middle, .right 
{
	display: inline-block; 
	vertical-align: middle; 
	font-size: 12px; 
	height: 90%
}
.left 
{
	width: 25%; 
	overflow:hidden;
}
.left img{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 90%;
}

.middle
{
	width: 50%;
	height:100%;
	color: white; 
}
.vertical-menu {
padding-top: 50px;
    width: fit-content;
    position: relative;
    height: 100%;
  
}


.dot:hover {
   height: 18px!important;
   width: 18px!important;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    display: inline-block !important;
}
.dots{
	padding-top: 15px;
	margin-left: 5px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-sizes {
  position: relative;
  display: inline-block;
}
.dropdown-packs {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-sizes:hover .dropdown-content {
  display: block;
}
.dropdown-packs:hover .dropdown-content {
  display: block;
}

.dropdown-sizes:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown-packs:hover .dropbtn {
  background-color: #3e8e41;
}

.right 
{

	width: 25%; 
	color:white;
	font-size:19px;
	margin-top: 20px;
	/*padding-right:2px;*/
	text-align:right;
}
.button{
  margin-right: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  vertical-align:middle;
  font-size: 16px;
  margin-top:20px;
 
}
.button:hover{
	background-color: #ddd;
    color: #000000;
	cursor:pointer;
}
.button a.active{
	background-color: #ddd;
    color: #000000;
	
}


hr
{
	margin:auto;
	width: 95%;
	border-top: 1px solid #666666;
}
/* Footer Code with Navigation Clone */
.footer{
  height: 10%;
  left: 0;
  bottom: 0;
  width:95%;
  color: #FFD700;
  margin: auto;
  margin-top:50px;
  overflow:auto;
  padding:10px;
  text-align:center;
  display:flex;
  
}
/* Footer List code */
ul{
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
     }
     li
     {
       float: left;
     }


/*Repeated code for the footer */
.topnavclone{
  display: flex;
  justify-content: center;
}
.topnavclone >a{
  width: 100%;
  background-color: #000000;
  font-family: GeForce,Helvetica,Arial,Sans-Serif;
}

.topnavclone a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

.topnavclone a.active {
  background-color: #4CAF50;
  color: white;
}